<div class="sign-up-form">


  <div class="form-wrapper">
    <h1 class="main-title">Sign up</h1>
    <ng-container *mobxAutorun>
      <div class="signup-photo">
        <mem-profile-img
          [url]="sus.root.us.avatarUrl">
        </mem-profile-img>
      </div>
    </ng-container>

    <form class="sign-up-form-form"
          [formGroup]="signupForm" (ngSubmit)="sus.handleSignUp(signupForm.value)">

      <label for="photo-input"
             class="form-label btn">
        Upload Photo</label>

      <input

        id="photo-input"
        type="file"
        name="file"
        hidden

        (change)="sus.root.us.onProfilePictureUpload($event)"
      >

      <label for="email-input"
             class="form-label">Email
      </label>
      <input formControlName="email"
             id="email-input"
             [ngClass]="{'valid' : email.valid && email.dirty}"
             type="email" placeholder="enter your email" class="signup-form-input">
      <div class="form-validation"
           *ngIf="!email.valid && (email.dirty || email.touched)">
        email is not valid
      </div>

      <label for="name-input"
             class="form-label">Full name
      </label>
      <input formControlName="name"
             id="name-input"
             [ngClass]="{'valid' : name.valid && name.dirty}"
             type="text" placeholder="enter your name" class="signup-form-input">
      <div class="form-validation"
           *ngIf="!name.valid && (name.dirty || name.touched)">
        name is not valid
      </div>

      <label for="password-input"
             class="form-label">Password</label>
      <input formControlName="password"
             id="password-input"
             [ngClass]="{'valid' : password.valid && password.dirty}"
             type="password" placeholder="create password" class="signup-form-input">
      <div class="input-hint">
        *minimum 6 characters
      </div>
      <div class="form-validation"
           *ngIf="!password.valid && (password.dirty || password.touched)">
        password is not valid
      </div>

      <button
        type="submit"
        class="submit-btn btn"
        [disabled]="!signupForm.valid || signupForm.pristine"
      >submit
      </button>
      <ng-container *mobxAutorun>
        <div class="form-validation submitted"
             *ngIf="!!sus.emailError">
          {{sus.emailError}}
        </div>
      </ng-container>

    </form>

  </div>
</div>
