<div class="user-profile-wrapper">


  <div class="user-card">
    <div class="user-picture">
      <mem-profile-img
        [url]="us.root.log.currentUser.avatar">
      </mem-profile-img>
    </div>
    <div class="user-name">
      {{us.root.log.currentUser.name}}
    </div>
    <div class="user-details">
      {{us.root.log.currentUser.email}}
    </div>

  </div>


  <div class="posts-container" *mobxAutorun>
    <mem-post
      *ngFor="let post of us.root.ps.userPosts"
      [post]="post"
      [currentUser]="us.root.log.currentUser"
      (postDeleted)="us.root.ps.deletePost($event)"
      (postLiked)="us.root.likeStore.handleLike($event)"
      (dashboardClicked)="us.root.fs.handleDialog($event)"
    ></mem-post>
  </div>


</div>
