<div class="post-wrapper">

  <div class="post-profile">

    <div class="post-avatar">
      <mem-profile-img
        [url]="post.postedBy.avatar">
      </mem-profile-img>
    </div>

    <div
      *mobxAutorun
      class="post-user-name">
      {{post.postedBy.name}}
    </div>

    <div class="delete-and-date">

      <div
        class="post-update-dashboards"
        *ngIf="currentUser._id === post.postedBy._id">

        <div class="edit-btn"
             (click)="onPostEdit(post)">
          <mat-icon
            class="edit-btn"
          >edit
          </mat-icon>

        </div>
        <div class="edit-btn"
             (click)="onPostDeleted(post)">
          <mat-icon class="edit-btn">delete</mat-icon>
        </div>

      </div>


      <div class="post-date-time">
        <div class="post-date">
          {{postDate}}
        </div>
        <div class="post-time">
          {{postTime}}
        </div>
      </div>


    </div>

  </div>


  <div
    *mobxAutorun
    class="post-content">
    {{post.content}}
  </div>

  <div class="post-img-wrapper"
       *mobxAutorun
       (click)="onImgClick(post.postMeme)"
  >
    <img *ngIf="post.postMeme"
         [src]="post.postMeme"
         class="post-img">
  </div>

  <div class="like-dashboard"
  >
    <ng-container *mobxAutorun>
      <div class="like-btn">
        <mat-icon (click)="onPostLiked(post)"
                  [class.current-user-liked]=" post.likedByCurrentUser"
                  class="like-icon">favorite
        </mat-icon>

      </div>
    </ng-container>
    <ng-container *mobxAutorun>
      <div class="likes-amount"
           *ngIf="post.likes_amount"
           (click)="onDashboardClicked(post)">
        {{post.likes_amount}}
      </div>
    </ng-container>
  </div>


</div>
