<div class="post-wrapper">

  <div class="post-profile">

    <div class="post-avatar">
      avatar
    </div>

    <div
      *mobxAutorun
      class="post-user-name">
      {{post.postedBy.name}}
    </div>

    <div class="delete-and-date">

      <div class="delete-btn"
           *ngIf="currentUser._id === post.postedBy._id"
           (click)="onPostDeleted(post)">
        <img class="delete-icon" src="./assets/svg's/delete.svg" alt="">
      </div>


      <div class="post-date-time">
        <div class="post-date">
          {{postDate}}
        </div>
        <div class="post-time">
          {{postTime}}
        </div>
      </div>


    </div>

  </div>


  <div
    *mobxAutorun
    class="post-content">
    {{post.content}}
  </div>

  <div class="like-dashboard"
  >
    <div class="like-btn">
      <mat-icon (click)="onPostLiked(post)"
                class="like-icon">favorite
      </mat-icon>

    </div>
    <ng-container *mobxAutorun>
      <div class="likes-amount"
           *ngIf="post.likes_amount"
           (click)="onDashboardClicked(post)">
        {{post.likes_amount}}
      </div>
    </ng-container>
  </div>


</div>
