<div class="login-wrapper">
  <div class="login-landing">
    <div class="main-title">MEMEZ</div>
    <img class="login-img" src="./assets/svg's/Trollface.svg" alt="">

  </div>
  <form [formGroup]="loginForm"
        (ngSubmit)="log.handleLogin(loginForm.value)"
        class="login-form">
    <ng-container *mobxAutorun>
      <div class="form-validation login"
           *ngIf="!!log.loginError">
        {{log.loginError}}
      </div>
    </ng-container>

    <div class="form-wrapper">
      <h1 class="main-title">Log in</h1>

      <label for="email"
             class="form-label">
        Enter Email</label>
      <input id="email"
             formControlName="email"
             type="email" placeholder="enter your email" class="user-name-input">

      <label for="password"
             class="form-label">
        Enter password</label>
      <input id="password"
             formControlName="password"
             type="password" placeholder="enter your password" class="user-name-input">

      <button [disabled]="!loginForm.valid || loginForm.pristine"
              type="submit"
              class="submit-btn btn">login
      </button>

      <div class="sign-up-button">
        New to MEMEZ ? <span class="sign-up-route" (click)="log.routeToSignUp()">sign up</span>
      </div>
    </div>
  </form>
</div>
