<div class="post-box">


  <div class="post-box-input">
    <div class=post-meme-input>
      <input #post_input
             class="post-input post-box-input-input" type="text" placeholder="write something...">
      <input
        type="file"
        id="upload-btn"
        (change)="onImgUpload($event)"
        hidden>
      <label
        class="upload-btn"
        for="upload-btn">
        <img class="upload-img"
             src="./assets/svg's/up-arrow.svg">
      </label>
    </div>
    <div class="post-box-btn btn" (click)="postToFeed(post_input.value)">
      POST
    </div>
  </div>



</div>


