<div class="app-navbar">

  <div class="main-header"
       (click)="headerClicked()">
    <div class="main-title">MEMEZ</div>
    <img class="title-img" src="../../../../assets/svg's/Trollface.svg" alt="">
  </div>

  <div class="navbar-btns">
    <div class="profile-btn navbar-btn "
         (click)="profileClicked()">
      profile
    </div>

    <div class="feed-btn navbar-btn "
         (click)="feedClicked()">
      feed
    </div>
    <div class="navbar-btn ">
      button
    </div>
  </div>
</div>
