<div class="feed-wrapper">


  <mem-post-box
    [currentUserPhoto]="fs.root.log.currentUser.avatar"
    (newPost)="fs.root.ps.createPost($event)"
    (imgUpload)="fs.root.ps.onImgPost($event)"
    [postImgUrl]="fs.root.ps.postImgUrl"
  >

  </mem-post-box>

  <ng-container *mobxAutorun>
    <div *ngIf="fs.root.ups.loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>

  <div class="posts-container" *mobxAutorun>
    <mem-post
      *ngFor="let post of fs.root.ps.filteredPosts"
      [post]="post"
      [currentUser]="fs.root.log.currentUser"
      (postDeleted)="fs.root.ps.deletePost($event)"
      (postLiked)="fs.root.likeStore.handleLike($event)"
      (dashboardClicked)="fs.handLikesleDialog($event)"
      (imgClicked)="ps.openImgDialog($event)"
      (editClicked)="fs.handleEditPostDialog($event)"


    ></mem-post>
  </div>
</div>


